.container {
  padding-left: 15px;
  padding-left: 15px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__input {
  width: 600px;
  margin-top: 20px;
  padding: 10px;
}

.country-card,
.countries-list {
  width: 600px;
}

.countries-list {
  font-size: 20px;
}

.country-card__name {
  text-align: center;
  font-size: 35px;
}

.content {
  display: flex;
  justify-content: space-between;
}

.info {
  padding: 0;
  margin: 0;
  list-style: none;
}

.info__item {
  margin-bottom: 20px;
}

.info__item--bolded {
  font-weight: bold;
  margin-right: 10px;
}

.lang {
  margin: 0;
}

.lang__item {
  margin-top: 10px;
}

.countries-list {
  padding: 0;
}

.pnotify-text-with-max-height {
  overflow-y: visible;
}
